* {
    font-family: 'Inter', sans-serif;
    color: var(--text-color)
}

html, body {
    margin: auto;
    width: 1440px;
    font-size: 14px;
}

/* Colors */
:root {
	--text-color: #333333;
    --textColorLight: #666666;
    --textColorWhite: #FFFFFF;
    --textColorBlack: #000000;
    --backgroundColorLight: #FFFDF7;
    --backgroundColorBeige: #F7F1EC;
    --backgroundColorBrown: #EBE3D3;
    --backgroundColorGreen: #E8F0E3;
    --backgroundColorWhite: #FFFFFF;
    --backgroundButton: #565656;
}

.d-f {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.fd-c {
    flex-direction: column;
}

.fw-w {
    flex-wrap: wrap;
}

.btn {
    background-color: var(--backgroundButton);
    color: var(--textColorWhite);
    padding: 30px 183px;
    margin-bottom: 20px;
}

.main_container {
    background-color: var(--backgroundColorLight);
}

/* Header */
.header_container {
    padding: 31px 100px 31px 100px;
    background-color: var(--backgroundColorLight);
}

.header_container_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.header_container_ul a {
    text-decoration: none;
}

/* Home */
.home_header, .home_valeurs {
    background-color: var(--backgroundColorGreen);
}

.home_header_content {
    width: 362px;
    margin: auto;
}

.home_header_content_title {
    font-size: 64px;
    font-weight: 500;
}

.home_header_content p, .home_conviction_content p, .home_valeurs_content p {
    font-weight: 300;
}

.home_product_title {
    padding: 30px 100px 30px 100px;
}

.home_conviction {
    background-color: var(--backgroundColorBrown);
    align-items: end;
}

.home_conviction_content {
    width: 425px;
    margin: 40px;
}

.home_conviction_content_title, .home_valeurs_content_title {
    font-size: 20px;
}

.home_conviction_content p, .home_valeurs_content p {
    margin: 0;
}

.home_valeurs {
    align-items: end;
}

.home_valeurs_content {
    width: 455px;
    margin: 40px;
}

/* Product */
.product_title {
    padding: 30px 100px 30px 100px;
}

.product_card {
    text-align: center;
}

.product_card_detail {
    margin-bottom: 50px;
}

.product_card_img {
    width: 734px;
    height: 686px;
    object-fit: cover;
}

.product_content {
    margin: 20px
}

.product_content_name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product_content_description {
    margin-top: 5px;
}

.product_content_price {
    margin-bottom: 30px;
}

.product_content_link {
    text-decoration: none;
    margin-top: 10px;
}

.product_content_cart {
    margin: 0 100px
}

.product_content_info {
    margin: 20px 100px;
}

.product_content_info_title {
    font-size: 10px;
}

.product_content_info_name {
    font-size: 20px;
    font-weight: 500;
}

.product_content_info_price {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0 40px;
}

/* Connexion et inscription */
.login_img {
    height: 988px;
}

.login_form, .registration_form {
    width: 479px;
    margin-top: 55px;
    gap: 10px;
}

.registration_form {
    margin-right: 120px;
}

.registration_form p {
    margin-top: 0;
}

.registration_form_row {
    gap: 10px;
    margin-bottom: 10px;
}

.form_control, .registration_form_row input {
    height: 67px;
    margin-bottom: 9px;
    padding-left: 10px;
}

.login_form_title, .registration_form_title, .account_title {
    font-size: 20px;
    font-weight: 500;
}

.login_form_title {
    margin-bottom: 20px;
}

.registration_form_title {
    margin-bottom: 0;
}

.login_form label, .registration_form label, .registration_form p {
    font-weight: 400;
    color: var(--textColorLight);
}

#registration_form_cguAccepted {
    margin-right: 10px;
    margin-top: 1px;
}

.registration_form_btn {
    margin-top: 30px;
    width: 479px;
}

.login_form_registration, .registration_form_login {
    color: var(--textColorLight);
    text-align: center;
}

/* account */
.account {
    background-color: var(--backgroundColorBeige);
    align-items: center;
    padding: 30px;
}

.account_content {
    width: 604px;
    background-color: var(--backgroundColorLight);
    padding: 30px 30px 10px 30px;
    margin: 7px;
}

.account_content_subtitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--textColorBlack);
}

.account_content_table {
    width: 100%;
    text-align: left;
}

.account_content_table_th {
    color: var(--textColorLight);
    font-weight: 400;
    padding-right: 25px;
}

.account_content_table_tr {
    border-bottom: 1px solid var(--textColorLight);
    height: 47px;
    align-items: center;}

.account_content_table_tr:last-child {
    border-bottom:none
}

.account_content_link {
    text-decoration: none;
    color: var(--textColorWhite);
}

/* Footer */
.footer_container {
    justify-content: flex-end;
    background-color: var(--backgroundColorWhite);
}

.footer_container_content {
    padding: 0px 67px 0px 198px;   
}

/* Error page */
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 50px; 
    background-color: var(--backgroundColorBrown);
    height: 550px;
}

.error h1 {
    font-size: 50px;
    color: red;
    margin: 40px 0 10px;
}
